<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: black;
            color: white;
        }  
        .con{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card{
            background-color: #333;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
    </style>
</head>
<body>
    <div class="con">
        <div class="card">
            <p>Name: <%= obj.name %></p>
            <p>Age: <%= obj.age %></p>
            <p>City: <%= obj.city %></p>
            <p>Hobbies: <%= obj.hobbies.join(", ") %></p>
            <p>Address: <%= obj.address.street %>, <%= obj.address.zip %></p>

        </div>
    </div>
</body>
</html>